// /**
// *	Footer SCSS
// **/

// footer{
//     display: flex;
//     flex-direction: row;
//     //align-items: center;
//     background: #fff;
//     color: #424242;
//     //padding: 0 24px 24px 24px;
//     .footer{
//         &__bg{
//             width: 100%;
//         }
//         &__content{
//             font-size: 14px;
//         }
//     }
//     .area-1{
//         padding: 24px;
//         background-color: $colorGrey300;
//         width: 100%;
//         .social-area{
//             display: flex;
//             flex-direction: row;
//             .item {
//                 width: 32px;
//                 height: 32px;
//                 fill: $colorGrey700;
//                 margin-right: 18px;
//             }
//         }
//     }
//     .area-2{
//         padding: 24px;
//         width: 100%;
//         height: 125px;
//     }
//     .copyright-area{
// 		flex: 2;
//     }
//     .social-media-area{
//     	flex: 1;
//     	&__bg{
    		
//     	}
//     	&__content{
//     		justify-content: flex-end;
//     	}
//     }
// }

// position: fixed;
.footer{
    &__bg{
        height: 300px;
        background: $colorGrey300;
        &--padding{
            padding: 32px 24px;
        }
        @media all and (min-width: $medium){
            padding: 32px 24px;
        }
    }
    &__content{
        color: #000;
        p{
            font-size: 1em;
        }
    }
}