@import './components/components';

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    /* FIXME: Temp. workaround for vertical scrollbars */
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

a:link {
    color: $colorPinkA200;
    text-decoration: none;
}


/******
    *
    * Containers
    *
    *******/

.wide-container {
    max-width: 1080px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card-container {
    max-width: 550px;
    margin: 0 auto;
}

.mdl-layout__content{
    position: relative;
}


/*****
    *
    *
    *
    ******/

.section-spacer {
    flex-grow: 1;
}

.section-separator {
    margin-top: 34px;
}

.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.46;
    border-radius: 2px;
}

.social-btn__twitter {
    background-image: url(../images/icons/twitter.svg);
}

.social-btn__gplus {
    background-image: url(../images/icons/google-plus.svg);
}

.social-btn__instagram {
    background-image: url(../images/icons/instagram.svg);
}

.social-btn__linkedin {
    background-image: url(../images/icons/linkedin.svg);
}

.social-btn__github {
    background-image: url(../images/icons/github-box.svg);
}

.social-btn__share {
    color: rgba(0, 0, 0, 0.54);
    background: transparent;
}
/*
*
*   element styles
*
*/
img {
    width: 100%;
}

a {
    color: $colorGrey50;
}

p {
    font-size: 16px;
    line-height: 28px;
} 

.mdl-mini-footer {
    padding-bottom: 100px;
    background-color: #ffffff;
    align-items: center;
    box-sizing: border-box;
}

.grad {
  background: -webkit-linear-gradient(bottom, $colorGrey900 , transparent); 
  background: -o-linear-gradient(top, $colorGrey900, transparent); 
  background: -moz-linear-gradient(top, $colorGrey900, transparent); 
  background: linear-gradient(to top, $colorGrey900 , transparent);

}



.mdl-card {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mdl-card__title {
    padding: 16px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.mdl-card__subtitle-text{
    flex-direction: column;
}

.mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    min-height: 200px;
}

/*
.mdl-card__supporting-text{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
*/

.mdl-layout__content{
    background-color: $colorGrey900;
}

.mdl-button--primary .mdl-button--primary{
    color: $colorRed500;
}

.text-initial{
    opacity: 0;
    transform: translateY(20px);
    position: relative;
    transition: all 0.3s ease-in;
}

.text-after{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s ease-in;
}

.headline-bg {
    height: 100vh;
    display: flex;
    .headline-text {
        margin: auto;

        .logo-area{
            display: flex;
            flex-direction: row;
            height: auto;

            > *:first-child{
                padding-right: 32px;
            }
            .right-side{
                margin: auto;
                    h5{
                    margin: 0;
                }
            }
        }
    }
}

.avatar{
    height: auto;
    margin: auto;
    width: 200px;
    img{
        border-radius: 50%;
    }
}

.about-card{
    display: flex;
    .area__social-media{
        margin: auto;
    }
}

.specialization-bg {
    width: 100%;
    height: 500px;
    display: flex;
    .specialization-text {
        margin: auto;
    }
}

.md-tumblr-card .mdl-card__media{
    background-color: $colorBlueGrey700;
}
.calcutip-card .mdl-card__media{
    background-color: $colorGrey800;
}
.md-kakao-card .mdl-card__media{
    background-color: $colorCyan500;
}
.md-yorku-card .mdl-card__media{
    background-color: $colorRed500;
}

.end-align{
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.portfolio-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .mdl-card{
        width: 100%;
        margin-bottom: 0;
    }
    .photography-card{
        background: url(../images/toronto.jpg) center / cover;
        min-height: 300px;
    }
    .kakao-card{
        background: url(../images/kakao.png) center / cover;
        background-color: $colorCyan500;
        min-height: 300px;
    }
    .calcutip-card{
        background: url(../images/calcutip.png) center / cover;
        background-color: $colorGrey800;
        min-height: 300px;
    }
    .tumblr-card{
        background: url(../images/tumblr.png) center / cover;
        background-color: $colorBlueGrey700;
        min-height: 300px;
    }
    .mdl-card__actions {
        padding: 16px;

    }
    h5{
        margin-bottom: 8px;
    }
}

.link-block{
    display: block;
}

.contact-bg {
    margin-top: 200px;
    background-color: $colorGrey300;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}


button{
    margin-right: 16px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.parallax{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media all and (min-width: 990px) {
    .mdl-card__media{
        padding-left: 48px;
        padding-right: 48px;
    }
    .mdl-card__supporting-text {
        padding: 48px;
    }
}