@import './components/components';

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    /* FIXME: Temp. workaround for vertical scrollbars */
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

a:link {
    color: $colorPinkA200;
    text-decoration: none;
}


/******
    *
    * Containers
    *
    *******/

.wide-container {
    max-width: 1080px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card-container {
    max-width: 550px;
    margin: 0 auto;
}

.mdl-layout__content{
    position: relative;
}


/*****
    *
    *
    *
    ******/

.section-spacer {
    flex-grow: 1;
}

.section-separator {
    margin-top: 34px;
}

.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.46;
    border-radius: 2px;
}

.social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png');
}

.social-btn__blogger {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_black_24dp.png');
}

.social-btn__gplus {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_black_24dp.png');
}

.social-btn__share {
    color: rgba(0, 0, 0, 0.54);
    background: transparent;
}
/*
*
*   element styles
*
*/
img {
    width: 100%;
}

a {
    color: #F50057;
    font-weight: 700;
}
/*
p {
    font-size: 16px;
    line-height: 28px;
} 
*/
.mdl-mini-footer {
    padding-bottom: 100px;
    background-color: #ffffff;
    align-items: center;
    box-sizing: border-box;
}
/*
.grad {
  background: -webkit-linear-gradient(left top, $colorGrey900 , $colorGrey800); 
  background: -o-linear-gradient(bottom right, $colorGrey900, $colorGrey800); 
  background: -moz-linear-gradient(bottom right, $colorGrey900, $colorGrey800); 
  background: linear-gradient(to bottom right, $colorGrey900 , $colorGrey800);
}
*/

.grayscale { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.mdl-card {
    padding: 48px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mdl-card__supporting-text{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.mdl-layout__content{
    background-color: $colorGrey900;
}

.headline-bg {
    height: 90vh;
    display: flex;
    .headline-text {
        margin: auto;

        .logo-area{
            display: flex;
            flex-direction: row;
            height: auto;

            > *:first-child{
                padding-right: 32px;
            }
            .right-side{
                margin: auto;
                    h5{
                    margin: 0;
                }
            }
        }
    }
}

.avatar{
    height: auto;
    margin: auto;
    width: 200px;
    img{
        border-radius: 50%;
    }
}

.title{
    font-weight: strong;
}

.about-card{
    display: flex;
    .title{
        
    }
}

.portfolio-card{
    display: flex;
    .work-area{
        display: flex;
        flex-direction: row;
        .title-area{
            width: 25%;
            padding-right: 32px;
        }
        .details-area{
            width: 75%;
        }
    }
}

.contact-bg {
    margin-top: 200px;
    background-color: $colorGrey300;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}


button{
    margin-right: 16px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.parallax{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    color: $colorRed500;
}

@media all and (min-width: 990px) {
    .kakao-bg{
    }
    .calcutip-bg{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .material-tumblr-bg{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
